[Unit]
Description=Temperature.

[Service]
Type=simple
Environment=darksky_api=xxxxxxxxxxxxxx
ExecStart=/home/pi/berryconda3/bin/python3 /home/pi/Temperature-moniting-website-via-Rasberry-Pi/sensor_n_app.py

[Install]
WantedBy=multi-user.target
