<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Temperature logger</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>
  <div id="graph" style="height:100vh;width:100vw;"></div>
  <a href="https://github.com/matteoferla/Temperature-moniting-website-via-Rasberry-Pi">Go to repo</a>
  <script type="text/javascript">
  var trace1 = {
  x: {{dt|safe}},
  y: {{temp|safe}},
  name: 'temperature',
  type: 'scatter'
};

var trace2 = {
  x: {{dt|safe}},
  y: {{hum|safe}},
  name: 'humidity',
  yaxis: 'y2',
  type: 'scatter'
};

var data = [trace1, trace2];

var layout = {
  title: 'Bedroom temperature',
  yaxis: {title: 'Temperature [°C]', range: [5,30], dtick: 1},
  yaxis2: {
    title: 'Humidity [%]',
    overlaying: 'y',
    side: 'right',
    range: [0,100], dtick: 100/25
  }
};

Plotly.newPlot('graph', data, layout);
  </script>
</body>
</html>
<!doctype html>
