<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Temperature logger</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>
  <div id="graph" style="height:100vh;width:100vw;"></div>
  <a href="https://github.com/matteoferla/Temperature-moniting-website-via-Rasberry-Pi">Go to repo</a>
  <script type="text/javascript">
  var trace1 = {
  x: {{dt|safe}},
  y: {{temp|safe}},
  name: 'temperature',
  type: 'scatter',
  line: {color: '#ff7f0e'},
  mode: 'lines'
};

var trace2 = {
  x: {{dt|safe}},
  y: {{hum|safe}},
  name: 'humidity',
  yaxis: 'y2',
  type: 'scatter',
  line: {color: '#1f77b4'},
  mode: 'lines'
};

var trace2b = {
  x: {{ftime|safe}},
  y: {{fhum|safe}},
  name: 'Outside humidity',
  yaxis: 'y2',
  type: 'scatter',
  line: {color: '#1f77b4', dash: 'dashdot'},
  mode: 'lines'
};

var trace1b = {
  x: {{ftime|safe}},
  y: {{ftemp|safe}},
  name: 'Outside temperature',
  type: 'scatter',
  line: {color: '#ff7f0e', dash: 'dashdot'},
  mode: 'lines'
};

var trace3 = {
  x: {{dt|safe}},
  y: {{CO2|safe}},
  name: 'CO_2',
  yaxis: 'y3',
  type: 'scatter',
  line: {color: '#8c564b'},
  mode: 'lines'
};

var trace4 = {
  x: {{dt|safe}},
  y: {{VOC|safe}},
  name: 'TVOC',
  yaxis: 'y3',
  type: 'scatter',
  line: {color: '#2ca02c'},
  mode: 'lines'
};

var data = [trace1, trace1b, trace2, trace2b, trace3, trace4];

var layout = {
  title: 'Bedroom temperature',
  xaxis: {domain: [0.15, 0.7]},
  yaxis: {title: 'Temperature [°C]', range: [5,30], dtick: 1},
  yaxis2: {
    title: 'Humidity [%]',
    overlaying: 'y',
    side: 'right',
    range: [0,100], dtick: 100/25
  },
  yaxis3: {
    title: 'Amount [ppm]',
    overlaying: 'y',
    side: 'right',
    range: [0,1000], dtick: 1000/25,
    anchor: "free",
    overlaying: "y",
    position: 0.85
  },
  shapes: {{ shapes|safe}}
};

Plotly.newPlot('graph', data, layout);
  </script>
</body>
</html>
<!doctype html>
